body {
  font-family: Arial, sans-serif;
}

.image-item {
  margin: 20px 0;
}

.image-item img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.score-buttons {
  margin-top: 10px;
}

#sliders{

  width: 50%;
  margin-top: 50px;
}

#instruction{
  width: 100;
  height: 10%;
  padding: 30px;

  background-color: aliceblue;

}

.inst_h1{
  font-size: 20px;
  font-weight: 400;
}

#vividnessSliderDiv{
  width: 100%;
}

.vividnessSlider{
  font-weight: 500;
}